{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "images/icons/favicon.png" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/iconic/css/material-design-iconic-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/linearicons-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
      	<!--<link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/slick/slick.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/MagnificPopup/magnific-popup.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		
</head>
	<body class="animsition" style="background-image:url({% static 'images/login01.jpg' %}); background-size:cover;">

							{% if messages %}
								<ul>
									{% for message in messages %}
								    		 <div style="width:50%;" class="alert alert-warning alert-dismissible fade in">
			    								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    								<center><strong>Warning!</strong> {{ message }}</center>
			 								 </div>

									{% endfor%}
								</ul>
							{% endif %}
	
		<br/>
		<br/>
		<br/>
		<br/>
		
		<br/>
		<br/>
		<br/>
		
		<div class="container well" style="width:40%;">
			
			<form method="POST" action="/module1/login">

					<div class="form-group " style="font-size:20px;">
						{% csrf_token %}
						{{ data }}
					</div>

					<div class="form-group">
						<center><input type="submit" value="Login" class="btn btn-success btn-lg" style="padding:10px 30px;"></center>
					
						<!-- <button class=" btn btn-info btn-lg"><a href="https://www.google.com" style="text-decoration:none; color:#fff;">SignUp</a></button></center> -->
						<center><a href="/module1/signup">create new account</a></center>
					</div>
			</form>
		</div>
	</body>
</html>